{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block main %}

	<div class="bg-slate-200 flex flex-col items-center min-h-screen font-['Epilogue'] pb-5">
		<div class="w-full text-center lg:text-start">
			<h1 class="text-2xl	 md:text-4xl max-sm:text-3xl max-sm:pt-6 font-medium text-center lg:text-start text-blue-900 pt-12 px-6 pb-4">
				Mot de passe oublié</h1>
		</div>
		<div data-turbo="false" class="bg-white rounded-md w-[95%]  md:w-[97%] mx-0 p-3 md:p-7 min-h-[85vh]">
			<p class="text-[14px] md:text-[18px] lg:text-[16px]">Cet espace est réservé aux
																                enseignants du lycée Saint-Vincent - Senlis. Si vous n’avez pas encore de compte, veuillez effectuer
																                votre demande directement en envoyant un email à
				<a class="text-sky-700" href="mailto:contact@lyceestvincent.net">contact@lyceestvincent.net</a>
				.</p>
			{{ form_start(form, {'attr': {'class': 'mt-9'}}) }}
				<div class="w-[60%] flex flex-col max-sm:w-full">
					{{ form_label(form.email,null , {'label_attr': {'class': 'w-full block text-base font-medium text-gray-700'}}) }}
					{{ form_widget(form.email, {'attr': {'class': 'w-full mb-4 max-sm:w-full h-[50px] mt-1 p-2 block text-base border border-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500', 'id': 'countries-course'}}) }}
					{{ form_rest(form) }}
                </div>
				<button class="font-semibold bg-slate-100 h-[55px] px-7 rounded-md font-noto text-customGrey text-[16px] transition duration-200 hover:bg-slate-200" type="submit">Envoyer
				</button>
				{{ form_end(form) }}
				{% for message in app.flashes('success') %}
					<div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
						<span class="font-medium">{{ message }}</span>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
