{% extends 'base.html.twig' %}

{% block title %}Page d'administration
{% endblock %}

{% block main %}
	<div class="bg-slate-200 flex flex-col min-h-[95vh]">
		<h1 class="text-[28px] ml-12 text-customBlue font-epilogue md:mt-8 font-medium">Administration</h1>

		<div class="flex gap-3 min-md:ml-10 max-sm:ml-1 ml-8 mt-4 max-sm:hidden">
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[220px] h-[40px] flex justify-center">
				<a class="justify-center items-center flex text-white font-noto" href="#">Contributeurs</a>
			</div>
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-[0.8]">
				<a class="justify-center items-center flex text-white font-noto" href="">Exercices</a>
			</div>
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-[0.8]">
				<a class="justify-center items-center flex text-white font-noto" href="">Matières</a>
			</div>
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-[0.8]">
				<a class="justify-center items-center flex text-white font-noto" href="">Classes</a>
			</div>
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-80">
				<a class="justify-center items-center flex text-white font-noto" href="">Thématiques</a>
			</div>
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-80">
				<a class="justify-center items-center flex text-white font-noto" href="">Compétences</a>
			</div>
			<div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-80">
				<a class="justify-center items-center flex text-white font-noto" href="">Origines</a>
			</div>
		</div>

		<div class="w-[95%] md:ml-[30px] min-md:w-[100%] min-md:ml-10 rounded-lg  sm:flex sm:flex-col justify-center  bg-white max-sm:w-[100%] ">
			<div class="flex justify-center max-sm:pt-2 ">
				<select id="pageSelect" class="md:hidden ">
					<option value="contributeurs">Contributeurs</option>
					<option value="exercices">Exercices</option>
					<option value="matieres">Matières</option>
					<option value="classes">Classes</option>
					<option value="thematiques">Thématiques</option>
					<option value="competences">Compétences</option>
					<option value="origines">Origines</option>
				</select>
			</div>

			<h1 class="ml-7 text-[20px] font-semibold font-noto md:pt-6 max-sm:mt-[5px]">Gestion des contributeurs</h1>
			<div class="mx-7	">
				<p class="font-noto text-customGrey pt-3">Rechercher un contributeur par nom, prénom, email:</p>
				<form method="GET" action="{{ path('app_admin') }}">
					<input id="searchInput" name="search" type="text" value="{{ searchTerm }}" class="mt-5 w-[45%] h-[50px] border border-slate-200 rounded-lg ">
					<button type="submit" class="bg-slate-100 h-[50px] rounded-md ml-6 w-[15%] font-noto text-customGrey text-[16px] max-md:hidden">Rechercher</button>
					<a href="{{ path("add_user")}}">
						<button type="button" class="bg-customGreen h-[52px] rounded-md ml-16 w-[15%] font-noto text-white text-[16px] hover:bg-darkGreen max-md:w-[80px] max-md:h-[40px] max-md:ml-[30px]">Ajouter +</button>
					</a>
				</form>
				<div class="overflow-x-auto relative mt-5 rounded-xl border border-solid border-gray-200">
					<table id="contribTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
						<thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
							<tr>
								<th scope="col" class="py-3 px-6">Nom</th>
								<th scope="col" class="py-3 px-6">Prénom</th>
								<th scope="col" class="py-3 px-6">Rôle</th>
								<th scope="col" class="py-3 px-6">Email</th>
								<th scope="col" class="py-3 px-6">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in pagination %}
								<tr class="bg-white  dark:bg-gray-800 dark:border-gray-700 border-solid border-t border-gray-200">
									<td class="py-4 px-6">{{ user.lastName }}</td>
									<td class="py-4 px-6">{{ user.firstName }}</td>
									<td class="py-4 px-6">{{ user.roles|join(', ') }}</td>
									<td class="py-4 px-6">{{ user.email }}</td>
									<td class="py-4 px-6 md:flex md:justify-center md:items-center md:gap-3 max-sm:flex max-sm:flex-col max-sm:justify-center max-sm:items-center max-sm:gap-3">
										<a href="{{ path('edit_user', {'id': user.id})}}" class="flex items-center gap-2.5	 font-medium  hover:underline">
											<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.266 0.875098L9.68262 2.45843H1.95833V13.5418H13.0417V5.81747L14.625 4.23414V14.3334C14.625 14.5434 14.5416 14.7448 14.3931 14.8932C14.2447 15.0417 14.0433 15.1251 13.8333 15.1251H1.16667C0.956704 15.1251 0.75534 15.0417 0.606874 14.8932C0.458407 14.7448 0.375 14.5434 0.375 14.3334V1.66676C0.375 1.4568 0.458407 1.25544 0.606874 1.10697C0.75534 0.958505 0.956704 0.875098 1.16667 0.875098H11.266ZM14.2173 0.162598L15.3375 1.2836L8.0605 8.5606L6.94267 8.56297L6.94108 7.44118L14.2173 0.162598Z" fill="#757575"/>
											</svg>

											Modifier</a>
										<a href="{{ path('user_delete', {'id': user.id}) }}" class="flex items-center gap-2.5	 font-medium  hover:underline ml-4">
											<svg width="19" height="20" viewbox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g clip-path="url(#clip0_1095_4423)">
													<path d="M3.16668 6.83325H15.8333V17.1249C15.8333 17.3349 15.7499 17.5362 15.6015 17.6847C15.453 17.8332 15.2516 17.9166 15.0417 17.9166H3.95834C3.74838 17.9166 3.54702 17.8332 3.39855 17.6847C3.25008 17.5362 3.16668 17.3349 3.16668 17.1249V6.83325ZM4.75001 8.41658V16.3333H14.25V8.41658H4.75001ZM7.12501 9.99992H8.70834V14.7499H7.12501V9.99992ZM10.2917 9.99992H11.875V14.7499H10.2917V9.99992ZM5.54168 4.45825V2.87492C5.54168 2.66496 5.62508 2.46359 5.77355 2.31513C5.92202 2.16666 6.12338 2.08325 6.33334 2.08325H12.6667C12.8766 2.08325 13.078 2.16666 13.2265 2.31513C13.3749 2.46359 13.4583 2.66496 13.4583 2.87492V4.45825H17.4167V6.04158H1.58334V4.45825H5.54168ZM7.12501 3.66659V4.45825H11.875V3.66659H7.12501Z" fill="#757575"/>
												</g>
												<defs>
													<clipPath id="clip0_1095_4423">
														<rect width="19" height="19" fill="white" transform="translate(0 0.5)"/>
													</clipPath>
												</defs>
											</svg>

											Supprimer</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="mt-5">
					{{ knp_pagination_render(pagination, 'components/pagination/custom_pagination.html.twig') }}
				</div>
			</div>
		</div>

		<script>
			document.getElementById('pageSelect').addEventListener('change', function () {
var page = this.value;
switch (page) {
case 'contributeurs':
window.location.href = '#';
break;
case 'exercices':
window.location.href = '#';
break;
// Continuez avec les autres cas si nécessaire
}
});
		</script>
	</div>
{% endblock %}
