<div class="flex gap-3 max-[1330px]:overflow-auto	">
	<a href="{{ path('app_contributor') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 opacity-[0.8] flex justify-center transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto">Contributeurs</span>
	</a>
	<a href="{{ path('app_admin_exercise') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 flex justify-center opacity-[0.8] transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto">Exercices</span>
	</a>
	<a href="{{ path('app_admin_course') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 flex opacity-[0.8] justify-center transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto">Matières</span>
	</a>
	<a href="{{ path('app_classroom') }}" class="bg-customBlue rounded-tl-xl px-14 py-2.5 rounded-tr-xl flex justify-center transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto">Classes</span>
	</a>
	<a href="{{ path('app_thematic') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 flex opacity-80 justify-center transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto">Thématiques</span>
	</a>
	<a href="{{ path('app_skill') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 opacity-80 flex justify-center transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto" href="">Compétences</span>
	</a>
	<a href="{{ path('app_origin') }}" class="bg-customBlue rounded-tl-xl px-5 py-2.5 rounded-tr-xl flex opacity-80 justify-center  transition duration-200 hover:opacity-100">
		<span class="justify-center items-center flex text-white font-noto">Origines</span>
	</a>
</div>
