{# templates/exercise/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}
	<div class="bg-slate-200 flex flex-col  min-h-screen font-['Epilogue'] pb-5">
		<h1 class="text-2xl	 md:text-4xl max-sm:text-3xl max-sm:pt-6 font-medium text-center lg:text-start text-blue-900 pt-12 px-6 pb-4">
			Soumettre un exercice</h1>
		<div class="px-[18px] max-sm:px-[10px]">
			<div class="flex gap-3 max-[1330px]:overflow-auto	">
				<a href="{{ path('exercise_create_general') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 opacity-[0.8] flex justify-center transition duration-200 hover:opacity-100">
					<span class="justify-center items-center flex text-white font-noto">Informations générales</span>
				</a>
				<a href="{{ path('exercise_create_sources') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-5 py-2.5 opacity-[0.8] flex justify-center transition duration-200 hover:opacity-100">
					<span class="justify-center items-center flex text-white font-noto">Sources</span>
				</a>
				<a href="{{ path('exercise_create_files') }}" class="bg-customBlue rounded-tl-xl rounded-tr-xl px-14 py-2.5  flex justify-center transition duration-200 hover:opacity-100">
					<span class="justify-center items-center flex text-white font-noto">Fichiers</span>
				</a>
			</div>

			<div class="max-[1330px]:rounded-tr-none	bg-white rounded-md w-full p-3 md:p-7 rounded-tl-none">
				<h1 class="text-[20px] font-semibold font-noto">Sources</h1>

                {{ form_start(form, {'attr': {'class': ''}}) }}
				<div class="max-sm:block flex gap-12 my-4">
					<div class="w-[60%] max-sm:w-full">
                        {{ form_label(form.firstFile, null, {'label_attr': {'class': 'w-full block text-base font-medium text-gray-700'}}) }}
                        {{ form_widget(form.firstFile, {'attr': {'class': 'w-full mb-4 max-sm:w-full h-[50px] mt-1 p-2 block text-base border border-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500', 'id': 'base-input-name'}}) }}

                        {{ form_label(form.secondFile, null, {'label_attr': {'class': 'w-full block text-base font-medium text-gray-700'}}) }}
                        {{ form_widget(form.secondFile, {'attr': {'class': 'w-full mb-4 max-sm:w-full h-[50px] mt-1 p-2 block text-base border border-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500', 'id': 'countries-course'}}) }}
                        </div>
                </div>
                    {{ form_rest(form) }}
					<button type="submit" class="font-semibold bg-slate-100 h-11 px-5 rounded-md font-noto text-customGrey text-[16px] transition duration-200 hover:bg-slate-200">Soumettre</button>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
