{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="w-auto flex items-center justify-center">
        <div class="flex w-fit gap-5 items-baseline flex-row border-lightGrey rounded-sm">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="bg-white rounded-md h-9 flex justify-center items-center text-center text-lightGrey px-3 py-2 text-lg border border-lightGrey font-bold">
                <span>&lt;&lt;</span>
            </a>
        {% endif %}

        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="bg-white text-lightGrey px-3 text-lg py-2 border rounded-md h-9 flex justify-center items-center text-center border-lightGrey">
                <span>&lt;</span>
            </a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="bg-white rounded-md h-9 flex justify-center items-center text-center text-black px-3 py-2 text-lg border  border-lightGrey">
                    <span>{{ page }}</span>
                </a>
            {% else %}
                <span class="cursor-pointer bg-white rounded-md h-9 flex justify-center items-center text-center text-black px-3 py-2 text-lg border border-black">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="bg-white rounded-md h-9 flex justify-center items-center text-center text-lightGrey px-3 py-2 text-lg border border-lightGrey">
                <span>&gt;</span>
            </a>
        {% endif %}

        {% if last is defined and current != last %}
            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="bg-white rounded-md h-9 flex justify-center items-center text-center text-lightGrey px-3 py-2 text-lg border border-lightGrey font-bold">
                <span>&gt;&gt;</span>
            </a>
        {% endif %}
        </div>
    </div>
{% endif %}
