{% extends 'base.html.twig' %}

{% block title %}Page d'administration{% endblock %}

{% block main %}
<div class="bg-slate-200 flex flex-col min-h-[95vh]">
	<h1 class="text-2xl	 md:text-4xl font-medium text-center max-sm:pt-4 lg:text-start text-blue-900 pt-12 px-6 pb-4">Administration</h1>

	{% include "admin/layout/nav.html.twig" %}


    <div class="w-[95%] md:ml-[30px] min-md:w-[100%] min-md:ml-10 rounded-lg  sm:flex sm:flex-col justify-center  bg-white max-sm:w-[100%] ">
        <h1 class="ml-7 text-[20px] font-semibold font-noto md:pt-6 max-sm:mt-[5px]">Ajouter une thématique</h1>

        <div class="w-[95%] md:ml-[30px] min-md:w-[100%] min-md:ml-10 rounded-lg  sm:flex sm:flex-col justify-center  bg-white max-sm:w-[100%] ">
            <div class="flex max-sm:pt-2 w-full">
                <!-- Formulaire -->
<div class="mx-7 mt-6 w-full">
    {{ form_start(form) }}

    <div class="md:flex gap-12">

        <div class="w-full md:w-[35%]">
        {{ form_label(form.name, 'Nom :', {
        'label_attr': {
            'class': 'noto text-color text-customGrey',
            'data-toggle': 'tooltip',
        }
        }) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {
            'attr': {
                'class': 'my-custom-class flex flex-column border border-borderGrey rounded-md p-2 mb-4 focus:outline-none focus:border-darkGrey w-full',
                'placeholder': 'Saisissez le nom du contributeur',
            }
        }) }}
    </div>


        <div class="w-full md:w-[35%]">
            {{ form_label(form.course, 'Matière :', {
            'label_attr': {
                'class': 'noto text-color text-customGrey',
                'data-toggle': 'tooltip',
            }
            }) }}
            {{ form_errors(form.course) }}
            {{ form_widget(form.course, {
                'attr': {
                    'class': 'my-custom-class flex flex-column text-customGrey border border-borderGrey rounded-md p-2 mb-4 focus:outline-none focus:border-darkGrey w-full',
                }
            }) }}
        </div>
    </div>

    <div class="flex gap-7 pt-3 pb-8">

    <a href="{{path('app_thematic')}}" class="font-semibold h-[45px] items-center flex justify-center text-sm bg-slate-100  font-noto text-fontGrey py-2 px-4 rounded hover:bg-slate-200 focus:outline-none focus:shadow-outline">< Retour à la liste</a>

        <div class="">
            {{ form_widget(form.submit, {
                'label': 'Enregistrer',
                'attr': {
                    'class': 'h-[45px] font-semibold items-center flex justify-center text-sm bg-slate-100 font-noto text-fontGrey py-2 px-4 rounded hover:bg-slate-200 focus:outline-none focus:shadow-outline',
                }
            }) }}
        </div>

    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
