{# templates/exercise/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}
    <div class="bg-slate-200 flex flex-col min-h-[95vh]">
        <h1 class="text-[28px] ml-12 text-customBlue font-epilogue md:mt-8 font-medium">Administration</h1>

        <div class="flex gap-3 min-md:ml-10 max-sm:ml-1 ml-8 mt-4 max-sm:hidden">
            <div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[220px] h-[40px] flex justify-center">
                <a class="justify-center items-center flex text-white font-noto"
                   href="{{ path('exercise_admin_create_general') }}">Informations générales</a>
            </div>
            <div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-[0.8]">
                <a class="justify-center items-center flex text-white font-noto"
                   href="{{ path('exercise_admin_create_sources') }}">Sources</a>
            </div>
            <div class="bg-customBlue rounded-tl-xl rounded-tr-xl w-[120px] h-[40px] flex justify-center opacity-[0.8]">
                <a class="justify-center items-center flex text-white font-noto" href="{{ path('exercise_admin_create_files') }}">Fichiers</a>
            </div>
        </div>

        <div class="w-[95%] md:ml-[30px] min-md:w-[100%] min-md:ml-10 rounded-lg  sm:flex sm:flex-col justify-center  bg-white max-sm:w-[100%] p-4 ">
            <div class="flex justify-center max-sm:pt-2 ">
                <select id="pageSelect" class="md:hidden ">
                    <option value="contributeurs">Contributeurs</option>
                    <option value="exercices">Exercices</option>
                    <option value="matieres">Matières</option>
                    <option value="classes">Classes</option>
                    <option value="thematiques">Thématiques</option>
                    <option value="competences">Compétences</option>
                    <option value="origines">Origines</option>
                </select>
            </div>
            <h1 class="ml-7 text-[20px] font-semibold font-noto md:pt-6 max-sm:mt-[5px]">Ajouter un
                contributeur</h1>

            <div class="flex w-[90%] justify-center items-center gap-8">
                {{ form_start(form, {'attr': {'class': 'mx-auto flex w-full justify-start items-center gap-8'}}) }}

                <div class="w-1/2 f">
                    <div class="mb-5">
                        {{ form_label(form.firstFile, null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.firstFile, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', 'id': 'base-input-name'}}) }}
                    </div>

                    <div class="mb-5">
                        {{ form_label(form.secondFile, null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.secondFile, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', 'id': 'countries-course'}}) }}
                    </div>

                    {{ form_rest(form) }}
                    <button type="submit">Soumettre</button>
                    {{ form_end(form) }}
                </div>


            </div>
        </div>
    </div>
{% endblock %}
